/*通过媒体查询精确在不同屏宽设备中设置样式*/

@media screen and (max-width: 1210px) {
	.inner {
		width: 100%;
		min-width: 100%;
	}
	#enter {
		right: 1rem;
	}
}

@media screen and (max-width:823px) {
	header {
		display: none;
	}
	#enter {
		top: 1.8rem;
	}
	#aside {
		display: block;
	}
	.logo {}
	.swiper-pagination-bullet {
		width: 0.5rem!important;
		height: 0.5rem!important;
	}
}

@media screen and (max-width:525px) {
	.share {
		display: none;
	}
	.share1 {
		display: block;
	}
}